/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '@angular/material/prebuilt-themes/purple-green.css'; */
.container{
    margin-top: 10px;
    width: 400px;
    /* min-width: 200px;     */
}

.header{
    text-align: left;
    padding-left: 20px;
    font-size: 29px;
    font-weight: 500;
    background-color: rgba(71, 61, 139, 0.747);
    color: rgb(211, 159, 56);
    height: 40px;
    text-align: center;
    vertical-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content{
    background-color: rgba(47, 31, 58, 0.541);
    height: fit-content;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

::ng-deep .mat-snack-bar-container {
    color: rgb(204 171 171 / 87%)!important;
     background: #281640!important;
 }
.right{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    color:rgb(0, 252, 197)!important;
}

mat-error{
    font-size: 11px;
}

.content mat-label{
    color: khaki;
}

.content mat-form-field{
    width: 80%;
    color: lightgreen;
    font-size: 15px;
}

.content button{
    width: 40%;
    font-size: 20px;
}

@media (max-width:530px){
    .contain{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header{
        font-size: 17px;
    }
    .content mat-form-field{
        width: 90%;
        color: lightgreen;
        font-size: 12px;
    }
    .content button{
        width: 40%;
        font-size: 15px;
    }
}